
/*         Мобильная разметка         */

.container {
  min-width: $m-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

/*       (sm - md)-width        */

@media (min-width: $sm-width) {
  .container {
    padding: 0 13%;
  }
}

/*        sm-width        */

@media (min-width: $lg-width) {
  .container {
    padding: 0 130px;
  }
}

/*        sm-width        */

@media (min-width: $xl-width) {
  .container {
    padding: 0;
    max-width: 1240px;
  }
}
