/*         Основные размеры        */

$m-width: 320px;
$sm-width: 541px;
$md-width: 721px;
$lg-width: 961px;
$xl-width: 1241px;

/*         Основные цвета        */

$black-color: #212121;
$grey-color: #616161;
$blue-color: #3581d5;
$blue-light-color: #e3f0ff;
$red-color: #ef5350;

/*         Основные параметры текста       */

$h1-size: 28px;
$h2-size: 20px;

$extra-small-font-size: 12px;
$small-font-size: 14px;
$regular-font-size: 16px;
$big-font-size: 17px;

$regular-line-height: 100%;
$medium-line-height: 130%;
$big-line-height: 170%;
